* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::selection{
        color: white;
        background: #ef6603;
    }
}
html{
    overflow-x: hidden !important;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
    background: var(--bg-color);
    overflow-x: hidden !important;
}
.fa-bars:before, .fa-navicon:before{
    margin-left: -64px;
}

.header ul {
    float: right;
    margin-right: 20px;
    flex: 1;
    text-align: right;
    width: 60%;
}

.header {
    background: #32354781;
    backdrop-filter: blur(5px); /* --------for blur background content -------*/
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 100px;
}
@media only screen and (max-width:1000px) and (min-width:100px){
    .logo{
        padding: 10px 34px;
    }
}
.menuu {
    margin-top: 30px;
}

.menuu li {
    display: inline-block;
}
ol, ul {
    padding-left: 0rem;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20px;
}

a.active,
a:hover {
    background: #ef6603;
    transition: .5s;
}

#check {
    display: none;
}

.checkbtn {
    float: right;
    margin-top: 40px;
    display: none;
    margin-right: 20px;
}

@media (max-width:1168px) {
    .checkbtn {
        display: block;
    }

    .menuu {
        position: fixed;
        width: 100% !important;
        height: 100vh;
        background: #223552;
        top: 60px;
        left: -100%;
        text-align: center !important;
        transition: all .5s;
        z-index: 99;
        padding-top: 20px;
        line-height: 50px;
    }

    .header ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }

}

section {
    background: #323547;
    width: 100%;
    height: auto;

}

ul .dd_item {
    margin: 6px 10px !important;
}

.dd_item {
    display: inline;
}

.carousel-inner {
    width: 100%;
}

.carousel-caption {
    color: #ffffff !important;
}

.carousel-caption h5 {
    font-size: 45px;
    padding: 25px 0px;
}

.carousel-caption p {
    font-size: 20px;
    padding: 5px 30px;
}

.carousel-caption p a {
    font-size: 14px;
    color: #fff;
    border: 2px solid #ef6603;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 20px;
}

@media screen and (max-width:600px) {
    #slider .carousel-item img{
        height: 620px !important;
    }
}

.dropdown-toggle {
    margin-top: -5px;
}

.dropdown-toggle:hover {
    background: #ef6603;
    border-radius: 20px;
}
.dropdown-item{
    font-size: 12px;
}
.dropdown-item:hover {
    background: #ef6603;
    border-radius: 20px;
    color: #fff;
}

.dropdown-menu {
    border-radius: 20px;
    padding: 10px;
    visibility: hidden;
    inset: 0px auto auto -42px !important;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
}

/* =============================================
                  About Us
================================================== */
.About_us {
    padding: 100px 150px;
    overflow: hidden;
}

.aboutus_title h2 {
    font-size: 16px;
    color: #818181;
    letter-spacing: 5px;
}

.aboutus_title p {
    font-size: 40px;
    font-weight: 800;
}

.aboutus_details {
    display: flex;
    justify-content: space-between;

}

.aboutus_details ul li {
    list-style: none;
    font-size: 1vw;
}

.aboutus_details p {
    font-size: 20px;
}

.aboutus_details p a {
    font-size: 20px;
    color: #ef6603;
    border: 2px solid #ef6603;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.aboutus_details p a:hover {
    color: #ffffff;
}

.aboutus_details ul {
    width: 100%;
    background: var(--bg-color);
    top: 0px;
    left: 0%;
    transition: all .5s;
    height: auto;
}

@media only screen and (max-width:1000px) and (min-width:100px){
    .About_us {
        padding: 50px 50px;
        overflow: hidden;
    }
    .aboutus_title h2 {
        font-size: 20px;
        color: #818181;
    }
    
    .aboutus_title p {
        font-size: 40px;
        font-weight: 800;
    }
    .aboutus_details {
        display: block;
    }
    .aboutus_details .seconddiv p {
       margin-top: 50px;
       font-size: 18px !important;
    }
    .aboutus_details ul li {
        list-style: none;
        font-size: 18px !important;
        text-align: start;
    }
    .aboutus_details p a {
        font-size:16px;
        color: #ef6603;
        border: 2px solid #ef6603;
        padding: 8px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
}

/* ===============================================
                  tab section
================================================== */
.tab_section {
    padding: 0px 150px;
}

.tab {
    overflow: hidden;
    width: 100%;
    margin: auto;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 24px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0px 20px;
    width: 30%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ef6603;
    color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ef6603;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Display London tab content by default and make the London button active */
#London {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.tab_section .tabimage img{
    width: 100%;
    height:auto;
}


@media only screen and (max-width:1000px) and (min-width:100px){
    .tab_section {
        padding: 50px;
    }
    .tab{
        text-align: justify;
    }
    .tab button{
        width: 100%;
    }
    .tab_section .tabimage img{
        display: none;
    }
    .tookyo, .paaris, .loodon{
        width: 100% !important;
    }
}

@media only screen and (max-width:1580px) and (min-width:1000px){
    .tab button{
        width: 20%;
    }

}

/* =============================================
               dark mode light mode
================================================== */

#icon {
    cursor: pointer;
    width: 2.5%;
}

:root {
    --primary-color: #444444;
    --bg-color: #fff;
}

.dark-theme {
    --primary-color: #ffffff;
    --bg-color: #1b1b1b;
}



/* =============================================
               Call to action
================================================== */
.Call_to_Action{
    background: #323547;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 150px;
}
.call-content{

    margin: auto;
    color: #fff;
    padding: 0px 50px 0px 0px;
    margin-bottom: 0px;
}
.call-content2{
    margin: auto;
}
.call-content2 a{
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #ef6603;
    font-weight: 600;
}
.call-content2 a:hover{
    background: #fff;
    color: #ef6603;
}
@media only screen and (max-width:1000px) and (min-width:100px){
    .Call_to_Action{
        display: block;
        padding: 60px;
    }
    .call-content2{
        margin-top: 40px;
    }
}

/* =============================================
              WHAT WE DO OFFER                  
================================================= */
#what_we_offer{
    padding: 100px 150px;   
}

.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-template-rows: repeat(2,1fr);
    grid-gap: 30px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 10px rgb(165, 165, 165);
    padding: 16px;
    border-radius: 7px;
}

@media only screen and (max-width:1000px) and (min-width:100px){
    #what_we_offer{
        padding: 50px;   
    }
    .card_container{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    } 
}

/* =============================================
              portfolio                 
================================================= */
#portfolio{
    padding: 100px 150px;   
}
.lightboxAnchor .row a:hover{
    background: none;
}
.lightboxAnchor .row {
    display: flex;
    flex-wrap: wrap;
}
.lightboxAnchor .row img:hover{
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 1px 1px 10px rgb(165, 165, 165);
}

/* .lightboxAnchor .row a:hover::after{
    content: "View Project Case Study";
    color: var(--primary-color);
    text-decoration: none !important;
} */
@media only screen and (max-width:1000px) and (min-width:100px){
    #portfolio{
        padding: 50px;   
    }
}


/* =============================================
              Testimonial                
================================================= */
#Testimonial{
    padding: 100px 150px;   
}
.testimonialcard{
    box-shadow: 1px 1px 10px rgba(207, 207, 207, 0.651); 
    padding: 20px;
    max-width: 420px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
}
.testimonialcard:hover{
    box-shadow: 1px 1px 10px rgba(175, 175, 175, 0.651);
    transition: 1s;
}

@media only screen and (max-width:1000px) and (min-width:100px){
    #Testimonial{
        padding: 50px;   
    }
}

/* =============================================
                Pricing              
================================================= */

#Pricing{
    padding: 100px 150px;
}
.pricing_card{
    width: 100%;
    height:auto ;
    border: 2px solid #e4e4e4;
    text-align: center;
    border-radius: 7px;
    margin: 10px;
}
.pricing_header h4{
    color: #444444;
}
.pricing_header{
    background: #e4e4e4;
    padding: 20px;
    border-radius: 7px 7px 0px 0px;
}
.pricing_cardd{   /*------------- active card ------------*/
    width: 100%;
    height:auto ;
    border: 2px solid #ef6603;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
}
.pricing_headerr{
    background: #ef6603;
    padding: 20px;
    border-radius: 7px 7px 0px 0px;
    color: #fff;
}

.pricing_button{
    background: #e4e4e4;
    padding: 20px;
    border-radius: 0px 0px 7px 7px;
    
}
.pricing_button p a{
    background: #ef6603;
    padding: 10px 30px;
    width:100%;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
}
.pricing_button p a:hover{
    background: #ff7e21;
}
.pricing_lists ul li {
    list-style: none;
    line-height: 40px;
}
.pricing_money{
    padding: 20px;
}
.pricing_container{
    display: flex;
}
@media only screen and (max-width:1000px) and (min-width:100px){
    #Pricing{
        padding: 50px;   
    }
    .pricing_container{
        display: block;
    }
}

/* =============================================
               FAQs             
================================================= */

#FAQs{
    padding: 100px 150px;
}
.accordion-item{
    border-bottom: 1px solid #c0c0c0 !important;
    padding: 5px 0px;
}
.accordion-button:focus{
    color: var(--primary-color)
}
.accordion-button:hover{
    color: #ef6603 ;
}
.accordion-button:focus{ 
    background: none;
    box-shadow: none;
}

@media only screen and (max-width:1000px) and (min-width:100px){
    #FAQs{
        padding: 50px;
    }
}

/* =============================================
               FAQs             
================================================= */

#team{
    padding: 100px 150px;
    
}
.team_container{
    display: flex;
    width: 100%;
}
.team_member{
    padding: 10px;
}
.team_member:hover{
    box-shadow: 1px 1px 10px rgba(175, 175, 175, 0.651);
    transition: .3s;
}
.team_member img{
    position: relative;
    width: 100%;
    height: auto;
}
/* .team_member .social{
    position: absolute;
    margin-top: -44px;
    margin-left: 4%;
    background: #fff;
    padding: 10px;
    visibility: hidden;
    letter-spacing: 5px;
    transition: visibility 1s;
}
.team_member:hover .social{
    visibility: visible;

} */
.team_member .social {
    position: absolute;
    margin-top: -200px;
    background: #fff;
    padding: 5px;
    visibility: hidden;
    opacity: 0; /* Initially hide with opacity */
    letter-spacing: 5px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}
.team_member .social a{
    background: none;
    display: block;
    margin: 5px;
}
.team_member:hover .social {
    visibility: visible;
    opacity: 1; /* Show with opacity */
}

.team_member .team_info{
    padding: 10px;
    background: var(--bg-color);
}
@media only screen and (max-width:1000px) and (min-width:100px){
    #team{
        padding: 50px;
    }
    .team_member .social {
        transform: translateY(50% 50%);
    }
}




/* =============================================
               Contact Us        
================================================= */

#contact_us{
    padding: 100px 150px;
}
.form_container{
    display: flex;
}

.contact ul li{
    display: flex;
}
.contact_form form input, textarea{
    box-shadow: none !important;
    border-radius: 0px !important;
}
.contact_form form button{
     background: #ef6603;
     border: none;
     padding: 10px 20px;
     border-radius: 50px;
}
.contact_form form button:hover{
    background: #f87314;
}
.contact_form form button:focus{
    background: #f87314;
}
@media only screen and (max-width:1000px) and (min-width:100px){
    #contact_us{
        padding: 50px;
    }
    .form_container{
        display: block;
    }
    
}


/* =============================================
               Contact Us        
================================================= */

#footer{
    padding: 100px 150px;
    background: #1f2027;
    text-align: center;
    color: #fff;
}
#footer ul li{
    list-style: none;
    display: inline-block;
}
#footer ul a{
    background: none;
    margin: 5px;
}
@media only screen and (max-width:1000px) and (min-width:100px){
    #footer{
        padding: 50px;
    }
}