* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
    background: var(--bg-color);
}

.header ul {
    float: right;
    margin-right: 20px;
    flex: 1;
    text-align: right;
    width: 60%;
}

.header {
    background: #323547;
    height: auto;
    width: 100%;
    position: fixed;
    z-index: 99;
}

.logo {
    color: #fff;
    font-size: 35px;
    line-height: 80px;
    padding: 0px 100px;
}
@media only screen and (max-width:1000px) and (min-width:100px){
    .logo{
        padding: 10px 34px;
    }
}
.menuu {
    margin-top: 30px;
}

.menuu li {
    display: inline-block;
}
ol, ul {
    padding-left: 0rem;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20px;
}

a.active,
a:hover {
    background: #ef6603;
    transition: .5s;
}

#check {
    display: none;
}

.checkbtn {
    float: right;
    margin-top: 40px;
    display: none;
    margin-right: 20px;
}

@media (max-width:1168px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100% !important;
        height: 100vh;
        background: #223552;
        top: 50px;
        left: -100%;
        text-align: center !important;
        transition: all .5s;
        z-index: 99;
        padding-top: 20px;
        line-height: 50px;
    }

    .header ul li {
        display: block;
    }

    #check:checked~ul {
        left: 0;
    }

}

section {
    background: #323547;
    width: 100%;
    height: auto;

}

ul .dd_item {
    margin: 6px 10px !important;
}

.dd_item {
    display: inline;
}

.carousel-inner {
    width: 100%;
    background: #323547;
}

.carousel-caption {
    color: #ffffff !important;
}

.carousel-caption h5 {
    font-size: 45px;
    padding: 25px 0px;
}

.carousel-caption p {
    font-size: 20px;
    padding: 5px 30px;
}

.carousel-caption p a {
    font-size: 14px;
    color: #fff;
    border: 2px solid #ef6603;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 20px;
}

.dropdown-toggle {
    margin-top: -5px;
}

.dropdown-toggle:hover {
    background: #ef6603;
    border-radius: 20px;
}
.dropdown-item{
    font-size: 12px;
}
.dropdown-item:hover {
    background: #ef6603;
    border-radius: 20px;
    color: #fff;
}

.dropdown-menu {
    border-radius: 20px;
    padding: 10px;
    visibility: hidden;
    inset: 0px auto auto -42px !important;
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
}

/* =============================================
                  About Us
================================================== */
.About_us {
    padding: 50px 150px;
    overflow: hidden;
}

.aboutus_title h2 {
    font-size: 25px;
    color: #818181;
}

.aboutus_title p {
    font-size: 50px;
    font-weight: 800;
}

.aboutus_details {
    display: flex;
    justify-content: space-between;

}

.aboutus_details ul li {
    list-style: none;
    font-size: 1vw;
}

.aboutus_details p {
    font-size: 20px;
}

.aboutus_details p a {
    font-size: 20px;
    color: #ef6603;
    border: 2px solid #ef6603;
    padding: 8px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.aboutus_details p a:hover {
    color: #ffffff;
}

.aboutus_details ul {
    width: 100%;
    background: var(--bg-color);
    top: 0px;
    left: 0%;
    transition: all .5s;
    height: auto;
}

@media only screen and (max-width:1000px) and (min-width:100px){
    .About_us {
        padding: 50px 50px;
        overflow: hidden;
    }
    .aboutus_title h2 {
        font-size: 20px;
        color: #818181;
    }
    
    .aboutus_title p {
        font-size: 40px;
        font-weight: 800;
    }
    .aboutus_details {
        display: block;
    }
    .aboutus_details .seconddiv p {
       margin-top: 50px;
       font-size: 18px !important;
    }
    .aboutus_details ul li {
        list-style: none;
        font-size: 18px !important;
        text-align: start;
    }
    .aboutus_details p a {
        font-size:16px;
        color: #ef6603;
        border: 2px solid #ef6603;
        padding: 8px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
}

/* ===============================================
                  tab section
================================================== */
.tab_section {
    padding: 50px 150px;
}

.tab {
    overflow: hidden;
    width: 100%;
    margin: auto;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 24px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0px 20px;
    width: 30%;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ef6603;
    color: #fff;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ef6603;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/* Display London tab content by default and make the London button active */
#London {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.tab_section .tabimage img{
    width: 100%;
    height:auto;
}


@media only screen and (max-width:1000px) and (min-width:100px){
    .tab_section {
        padding: 50px;
    }

    
}

/* =============================================
               dark mode light mode
================================================== */

#icon {
    cursor: pointer;
    width: 2.5%;
}

:root {
    --primary-color: #444444;
    --bg-color: #fff;
}

.dark-theme {
    --primary-color: #ffffff;
    --bg-color: #1b1b1b;
}



/* =============================================
               Call to action
================================================== */
.Call_to_Action{
    background: #323547;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 80px 150px;
}
.call-content{

    margin: auto;
    color: #fff;
    padding: 0px 50px 0px 0px;
    margin-bottom: 0px;
}
.call-content2{
    margin: auto;
}
.call-content2 a{
    color: #fff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 50px;
    background-color: #ef6603;
    font-weight: 600;
}
.call-content2 a:hover{
    background: #fff;
    color: #ef6603;
}
@media only screen and (max-width:1000px) and (min-width:100px){
    .Call_to_Action{
        display: block;
        padding: 60px;
    }
    .call-content2{
        margin-top: 40px;
    }
}

/* =============================================
              WHAT WE DO OFFER                  
================================================= */
#what_we_offer{
    padding: 50px 150px;   
}

.card_container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-template-rows: repeat(2,1fr);
    grid-gap: 30px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 1px 1px 10px rgb(165, 165, 165);
    padding: 16px;
    border-radius: 7px;
}

@media only screen and (max-width:1000px) and (min-width:100px){
    #what_we_offer{
        padding: 50px;   
    }
    .card_container{
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    } 
}